html {
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: lightblue;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 8px;
  gap: 8px;
}

.display {
  flex: 1 0 0;
  background-color: white;
  font-size: 64px;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: right;
}

.button-container {
  flex: 4 0 0;
  display: flex;
  align-items: stretch;
  gap: 8px;
}

.digit-button-container {
  flex: 3 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.digit-button-container div {
  flex: 1 0 0;
  display: flex;
  align-items: stretch;
  gap: 8px;
}

.digit-button-container div button {
  flex: 1 0 0;
}

.operator-button-container {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.operator-button-container button {
  flex: 1 0 0;
}

button {
  font-size: 32px;
  font-weight: bold;
}

.display div {
  padding: 8px;
}